/*==========  ID Rules  ==========*/
#concept-dashboard {
    height: fit-content !important;
}

#concept-burger {
    background-color: #3f0270;
}

#concept-burger span {
    background-color: #fff;
    height: 2px;
}

#concept-logo {
    color: rgb(59, 59, 217);
}

#concept-menu, #concept-desktop-navbar {
    background-color: #090242;
}

#concept-desktop-navbar {
    width: 15%;
    top: 50px;
}

#concept-menu, #concept-menu p, #concept-desktop-navbar  {
    color: #E3DDE8 !important;
}

#messaging #concept-dot {
    width: 10px;
    height: 10px;
    top: 8px;
    right: 16px;
}

#name {
    height: 30px;
    border-color: #090242;
}

#button {
    margin-right: 20px;
    border-color: #090242 !important;
}



/*==========  Class Rules  ==========*/
.concpet-navbar {
    background-color: #fff;
}

.menu-bar-item {
    padding: 10px 0px;
}

.chart {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgb(166, 166, 166);
}

.chart p, .chart span {
    font-weight: 700 !important;
}

.chart-img {
    width: 80%;
    display: block;
    margin: 0px auto;
}

.opposites {
    align-items: center;
}

.statistics {
    width: 85% !important;
}

.indicator {
    width: 20px;
    height: 20px;
    border-radius: 20px; 
    display: inline;
}

.customer {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.locations, .bookings, .dates {
    box-shadow: 2px 2px 2px rgb(166, 166, 166);
}

.border {
  width: 100%;
  height: 1px;
  background-color: #E3DDE8;
}



/*==========  Element Rules  ==========*/
html {
    background-color: #E3DDE8 !important;
} 

h4 {
    font-weight: 500 !important;
}

h2 {
    font-size: 20px !important;
}

footer {
    width: 85% !important;
}



/*========== Animations and Media Queries  ==========*/
#name::placeholder {
    color: #090242;
}

@media screen and (min-width: 1024px) {
    #concept-menu {
        display: none;
    }

    .navbar-end {
        align-items: center !important;
    }

    .chart {
        width: 23%;
        margin: 0px auto;
    }

    h2 {
        font-size: 16px !important;
    }

    .statistics {
        width: 82% !important;
    }

    .bookings {
        width: 65%;
    }

    .dates {
        width: 25%;
    }

    .sales {
        width: 45%;
    }
}